.date-picker {
    width: 100%;
}

.react-datepicker-wrapper {
    width: 100%;
}

.button-container button {
    align-self: center;
    margin-top: 20px;
    background: none;
    border: 1px solid #393E46;
    border-radius: 3px;
    width: 50%;
    padding: 10px;
    transition-duration: 0.1s;
}

.button-container button:hover {
    background-color: #393E46;
    transition-duration: 0.1s;
}

.react-datepicker__time-list-item {
    color: black;
}

.error {
    color: lightcoral;
    font-size: 15px;
}