.tasks-options {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #222831;
    box-shadow: 1px 1px 10px #161618;
    width: 900px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

.tasks-options > h2 {
    text-align: center;
    font-size: 25px;
}

.sort-options {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.sort-options label {
    display: flex;
    font-size: 18px;
}

.sort-options label input {
    margin-right: 5px;
} 

.tasks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px;
}