.tasks-container {
    display: flex;
    align-items: center;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px;
    width: 700px;
    background-color: #222831;
    border-radius: 5px;
    border: 3px dashed #50545a;
    margin-bottom: 30px;
}

.task-main {
    display: flex
}

.status-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 20px;
    align-self: center;

    background: none;
    border: none;
    transition-duration: 0.1s;
}

.status-button:hover {
    transition-duration: 0.1s;
    border: 2px solid white;
}

.content h1 {
    font-size: 30px;
    margin-bottom: 10px;
    width: 300px;

    word-break: break-all;
}

.content p {
    font-size: 20px;
    width: 300px;

    word-wrap: break-word;
}

.extras-container {
    margin-bottom: 20px;
}

.detail {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.detail label {
    font-size: 18px;
}

.detail p {
    font-size: 16px;
}

.task-extras {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-extras > button {
    background-color: #b92e34;
    border: none;

    width: 70%;
    height: 30px;
    border-radius: 5px;
    transition-duration: 0.2s;
}

.task-extras > button:hover {
    background-color: #d63a42;
    transition-duration: 0.2s;
}